/*京东首页专用css*/

body {
	background-color: #F0F3EF;
}
input,button {
	outline: none;
}
/*顶部开始*/
.J_event {
	background-color: #ff742b;
}
.J_event a {
	display: block;
	height: 80px;
	background: url(../images/top.jpg);
	position: relative;
}
.J_event i {
	height: 20px;
	width: 20px;
	position: absolute;
	top: 5px;
	right: 0;
	background-color: rgba(0,0,0,0.4);
	line-height: 20px;
	text-align: center;
	font-family: "icomoon";
	color: #fff;
}
/*快捷导航开始*/
.shortcut {
	height: 30px;
	line-height: 30px;
	background-color: #E3E4E5;
	border-bottom: 1px solid #DDD;
	color: #9D9D9D;
	font-size: 12px;
}
.shortcut .fl li {
	margin-left: 200px;
	height: 30px;
}
.shortcut .fr a {
	color: #9D9D9D;
}
.shortcut .fr a:hover {
	color: #c81623;
}

.shortcut .fr li {
	float: left;
	position: relative;
}
.pos {
	font-family: "icomoon";
	color: #f10215;
	font-size: 14px;
	margin-right: 4px;
}
.spacer {
	height: 10px;
	width: 1px;
	background-color: #ccc;
	margin: 10px 10px 0;
}
.dropdown {
	padding-right: 15px;
	position: relative;
}
.dropdown i {
	font-family: "icomoon";
	font-size: 16px;
	position: absolute;
	top: -3px;
	right: -5px;
}
.erweima {
	width: 60px;
	height: 60px;
	position: absolute;
	padding: 3px;
	top: 33px;
	right: -14px;
	border: 1px solid #ccc;
	z-index: 2;
}
/*header部分开始*/
.header {
	height: 140px;
}
.inner {
	height: 140px;
	background-color: #F0F3EF;
	position: relative;
}
.logo {
	width: 190px;
	height: 170px;
	position: absolute;
	background: url(../images/logo.jpg) no-repeat;
	background-color: #fff;
	/*top: -31px;*/
	bottom: 0;
	left: 0;
	box-shadow: 0 -12px 10px rgba(0,0,0,.2);
}
.logo h1 {
	width: 100%;
	height: 100%;
	text-indent: -999999px;
	overflow: hidden;
	margin: 0;/*清除外边距，不然会有问题*/
}
.logo a {
	display: block;
	width: 100%;
	height: 100%;
}
.search {
	width: 550px;
	height: 35px;
	background-color: #0f0;
	position: absolute;
	top: 25px;
	left: 320px;
}
.search input {
	width: 493px;/*设置了padding一定别忘了回来减*/
	height: 33px;
	border: 1px solid #f10215;
	padding-left: 5px;/*离左边留一点空隙*/
	outline: none;
	color: #989898;
	float: left;
}
.search button {
	width: 50px;
	height: 35px;
	background-color: #f10215;
	border: 0;
	float: left;/*行内块和行内块之间有空隙，加上float就可以清除了*/
	cursor: pointer;
}
.search i {
	font-family: "icomoon";
	/*position: absolute;不需要定位因为button也相当于一个容器，可以直接放进去*/
	font-size: 18px;
	color: #fff;
	font-style: normal;
}
.search em {
	position: absolute;
	width: 19px;
	height: 15px;
	top: 10px;
	right: 65px;
	cursor: pointer;
	background: url(../images/sprite-search.png) no-repeat;
}
.search em:hover {
	background-position: -30px 0;
}
.hotwords {
	position: absolute;
	top: 70px;
	left: 320px;
}
.hotwords a {
	color: #9E9B99;
	font-size: 12px;
	margin-right: 8px;
}
.hotwords a:hover {
	color: #f10215;
}
.my-cart {
	width: 188px;
	height: 33px;
	border: 1px solid #ccc;
	position: absolute;
	top: 25px;
	right: 100px;
	text-align: center;
	line-height: 33px;
	background-color: #fff;
}
.my-cart a {
	font-size: 14px;
	color: #f10215;
}
.my-cart i {
	font-family: "icomoon";
	font-size: 14px;
	color: #f10215;
}
.my-cart .ci-count {
	position: absolute;
	top: 5px;
	left: 140px;
	font-size: 12px;
	line-height: 12px;
	padding: 1px;
	color: #fff;
	background-color: #f10215;
	text-align: center;
	border-radius: 7px;
}
.gg {
	position: absolute;
	right: 0;
	bottom: 10px;
}
.navitems {
	position: absolute;
	left: 200px;
	bottom :0;
}
.navitems ul {
	float: left;
}
.navitems ul li {
	float: left;
	margin-left: 30px;
}
.navitems li a {
	font-size: 15px;
	color: #333;
	height: 40px;
	line-height: 40px;
	display: block;
}
.navitems li a:hover {
	color: #f10215;
}
.navitems .spacer {
	float: left;
	margin-top: 15px;
	margin-left: 20px;
	margin-right: -10px;/*margin-right为负数时不影响自身盒子，但会影响旁边右侧的，右边盒子会压进来，以此来解决右边宽的问题*/
}

/*footer部分开始*/
.footer {
	height: 560px;
	background-color: #EAEAEA;

}
.footer-service {
	border-bottom: 1px solid #DEDEDE;
}
.footer-service-inner {
	padding: 30px 0;
}
.footer-service-inner li {
	float: left;
	width: 297px;
	height: 42px;
}
.service-unit {
	width: 225px;
	height: 42px;
	margin: 0 auto;
	position: relative;

}
.service-unit h5 {
	width: 36px;
	height: 42px;
	position: absolute;
	background: url(../images/ico_service.png) no-repeat;
	top: 0;
	left: 0;
	text-indent: -999px;
	overflow: hidden;
}
.service-unit p {
	height: 42px;
	line-height: 42px;
	margin-left: 45px;
	font-size: 18px;
	font-weight: 700;
}
.service-unit .kuai {
	background-position: 0 -42px;
}
.service-unit .hao {
	background-position: 0 -86px;
}
.service-unit .sheng {
	background-position: 0 -128px;
}
.help {
	height: 160px;
	padding: 20px 0;
	border-bottom: 1px solid #DEDEDE;
}
.help dl {
	float: left;
	width: 195px;
}
.help dt {
	font-size: 14px;
	font-weight: 700;
	color: #666;
	height: 30px;
}
.help dd {
	height: 22px;
}
.help dd a {
	color: #727272;
	font-size: 12px;
}
.help dd a:hover {
	color: #f10215;
}
.help .cover {
	float: right;
	width: 207px;
	height: 150px;
	background: url(../images/ico_footer.png) no-repeat;
	text-align: center;
}
.help .cover .info {/*没有效果又没有报错则检查权重*/
	width: 175px;
	height: 50px;
	font-size: 12px;
	margin-top: 5px;
	margin-left: 10px;
	line-height: 18px;
	color: #727272;
}
.cover .more {
	text-align: right;
	padding-right: 20px;
}
.copyright {
	border-top: 1px solid #ccc;
	padding-top: 15px;
}
.links {
	text-align: center;
}
.links a {
	color: #727272;
	font-size: 12px;
}
.links span {
	font-size: 12px;
	color: #D4CDCD;
	margin: 0 5px;
}
.c-info {
	text-align: center;
	font-size: 12px;
	color: #9E9E9B;
	line-height: 20px;
	margin-top: 10px;
}

/*中间部分*/
.jd {
	background-color: pink;
	position: relative;
}
.jd-inner {
	height: 480px;
	background-color: #F0F3EF;
	position: relative;
	z-index: 999;
}
.ad {
	height: 480px;
	background: url(../images/bg.png) no-repeat top center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.ad a {
	height: 100%;
	display: block;
}
.jd-col1 {
	width: 190px;
	height: 465px;
	background-color: #6E6568;
	float: left;
	padding-top: 15px;
}
.jd-col1 li {
	padding-left: 10px;
	height: 28px;
	line-height: 28px;
}
.jd-col1 li:hover {
	background-color: #999395;
}
.jd-col1 li a {
	color: #fff;
	font-size: 14px;

}
.jd-col1 li span {
	color: #fff;
	font-size: 12px;
}
.jd-col2 {
	width: 790px;
	height: 480px;
	float: left;
	margin: 0 10px;
}
.jd-col2-hd {
	height: 340px;
	margin-bottom: 10px;
	position: relative;
}
.jd-col2-bd div {
	width: 390px;
	height: 130px;
	float: left;
}
.first-pic {
	margin-right: 10px;
}
.jd-col2-bd div  img {
	width: 100%;/*让图片等比缩放,尽量高也给100%以防万一*/
	height: 100%;
}
.arr-l,.arr-r {
	position: absolute;
	top: 50%;
	width: 30px;
	height: 60px;
	margin-top: -30px;
	background: rgba(0,0,0,0.3);
	color: #fff;
	text-align: center;
	line-height: 60px;
	font-size: 18px;
}
.arr-l {
	left: 0;
}
.arr-r {
	right: 0;
}
.arr-l:hover,.arr-r:hover {
	background: rgba(0,0,0,0.6);
}
.jd-col2-hd ol {
	width: 180px;
	height: 20px;
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -90px;
	background-color: rgba(255,255,255,0.3);
	border-radius: 10px;
}
.jd-col2-hd ol li {
	width: 12px;
	height: 12px;
	background-color: #fff;
	border-radius: 50%;
	float: left;
	margin: 4px 5px;
	cursor: pointer;
}
.jd-col2-hd ol .current {
	background-color: #f10215;
}
.jd-col3 {
	width: 190px;
	height: 480px;
	float: left;
}
.user {
	height: 95px;
	padding: 20px 15px 0;
}
.user-info {
	height: 40px;
	line-height: 22px;
	padding-left: 54px;
	font-size: 12px;
	color: #747474;
	position: relative;
}
.user-info a {
	font-size: 12px;
	color: #747474;
}
.user-info a:hover {
	color: #f10215;
}

.user-info .touxiang {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;

}
.user-info .touxiang img {
	width: 100%;
	height: auto;/*跟随宽度缩放*/
	border-radius: 50%;
}
.user-profit {
	margin-top: 15px;
}
.user-profit a {
	width: 70px;
	height: 20px;
	border: 2px solid #f10215;
	display: inline-block;
	font-size: 12px;
	color: #f10215;
	text-align: center;
	line-height: 20px;
}
.user-profit a:hover {
	background-color: #f10215;
	color: #fff;
}

.news {
	height: 149px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 5px 15px 0;
}
.tab-hd {
	border-bottom: 1px solid #ccc;
	padding: 3px 0;
	position: relative;
}
.tab-hd a ,.tab-bd a{
	font-size: 12px;
	color: #747474;
	margin: 0 4px;
}
.cuxiao {
	border-right: 1px solid #ccc;
	padding-right: 10px;
}
.gengduo {
	position: absolute;
	top: 8px;
	right: 0;
}
.gengduo:hover {
	color: #f10215;
}
.line {
	width: 28px;
	height: 2px;
	background-color: #f10215;
	position: absolute;
	bottom: -1px;
	left: 0;
}
.tab-bd {
	margin-top: 5px;
}
.tab-bd li {
	height: 23px;
	line-height: 23px;
}
.tab-bd a:hover {
	color: #f10215;
}
.jd-service {
	height: 209px;
	overflow: hidden;
}
.jd-service ul {
	width: 195px;
}
.jd-service li {
	width: 47px;
	height: 69px;
	float: left;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.jd-service li a {
	width: 100%;
	height: 100%;
	display: block;
}
.jd-service li i {
	display: block;
	height: 24px;
	width: 24px;
	margin: 15px auto 8px;
	background: url(../images/box.png) no-repeat ;
}
.jd-service li p {
	text-align: center;
	font-size: 12px;
	color: #747474;
}