body{
	background-color: #fff;
}
.w {
	width: 1200px;
	margin: 0 auto;
}
header{
	width: 1300px;
	height: 100px;
	margin: 0 auto;
	padding-top: 30px;
}
.logo {
	width: 195px;
	height: 42px;
	float: left;
}
.logo a {
	display: block;
	width: 195px;
	height: 42px;
	background: url(../images/logo.png) no-repeat ;
	text-indent: -99px;
	overflow: hidden;/*让文字看不到*/
}
nav {
	float: left;
	margin-left: 20px;
}
nav li {
	float: left;
	height: 40px;
	line-height: 40px;
	margin-left: 25px;
}
nav li a {
	display: block;
	height: 100%;
	font-size: 18px;
	padding: 0 10px;
}
nav li a:hover {
	border-bottom: 2px solid #00a4ff;
}
.search {
	width: 410px;
	height: 40px;
	background-color: blue;
	float: left;
	margin-left: 150px;
}
.search input {
	width: 361px;
	height: 40px;
	border: 1px solid #00a4ff;
	outline: none;
	padding-left: 10px;
	float: left;
}
.search button {
	width: 49px;
	height: 40px;
	border: 0;
	outline: none;
	float: left;/*清除行内块之间的空隙*/
	background: url(../images/fa-search.png) no-repeat;
}
.personal {
	float: right;
	height: 40px;
	line-height: 40px;
}
.personal dt ,.personal dd {
	float: left;
}
.personal s {
	position: relative;
	padding: 0 20px;
	text-decoration: none;/*s默认有一个穿过线*/
}
.personal s::before {/*用before和after可以省去盒子*/
	content: "";
	/*display: block;伪元素默认行内元素，不过给了定位也就不需要了*/
	width: 6px;
	height: 6px;
	background-color: red;
	border-radius: 50%;
	position: absolute;
	right: 16px;
	top: 0;
}
.personal span img {
	border-radius: 50%;
	margin-right: 3px;
	transition: all 1s;
}
.personal span img:hover {
	transform: rotate(360deg);
}
.banner {
	height: 420px;
	background-color: #1c036c;
}
.inner {
	height: 420px;
	position: relative;
}
.subnav {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 190px;
	padding-top: 20px;
	background-color: rgba(0,0,0,0.3);
}
.subnav li{
	height: 40px;
	padding-left: 20px;
	position: relative;
	line-height: 40px;
}
.subnav li a{
	color: #fff;
	font-size: 14px;
	display: block;
}
.subnav li a:hover,.subnav li a:hover {
	color: #00b4ff;
}
.subnav li span {
	position: absolute;
	right: 20px;
	top: 0px;
	color: #fff;
}
.circle {
	position: absolute;
	width: 176px;
	height: 20px;
	left: 50%;
	bottom: 15px;
	transform: translate(-50%);
}
.circle i {
	display: inline-block;
	width: 13px;
	height: 13px;
	background-color: rgba(255,255,255,.4);
	margin: 0 5px;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s;
}
.circle i:hover {
	width: 20px;
	background-color: #fff;
}
.timetable {
	width: 228px;
	height: 300px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: #fff;
}
.timetable dt {
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	font-weight: 700;
	background-color: #9bceea;
	color: #fff;
	text-align: center;
}
.timetable dd {
	padding: 15px 20px 0;
}
.timetable dd li {
	height: 60px;
	padding-top: 6px;
	border-bottom: 1px solid #ccc;
}
.timetable dd li:last-child {
	border-bottom: 0;
}
.timetable li a {
	display: block;
}
.timetable ul a:hover h5,.timetable ul a:hover p{
	color: #22b0ff;
}
.timetable  li h5 {
	font-size: 16px;
	font-weight: 400;
	color: #4e4e4e;
}
.timetable li p {
	font-size: 12px;
	color: #a5a5a5;
}
.all {
	display: block;
	height: 40px;
	border: 1px solid #22b0ff;
	color: #22b0ff;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
}
.all:hover {
	background-color: #22b0ff;
	color: #fff;
}
.recommend {
	height: 60px;
	margin-top: 10px;
	line-height: 60px;
	box-shadow: 0 1px 12px rgba(0,0,0,.4);
	background-color: #fff;

}
.re-l {
	float: left;
}
.re-l a {
	margin: 0 30px;
	font-size: 14px;
}
.re-l a:first-child {
	color: #22b0ff;
	font-size: 14px;
	font-weight: 700;
}
.re-l a:hover {
	color: #22b0ff;
}
.re-l span {
	color: #bfbfbf;
}
.re-r {
	float: right;
	margin-right: 26px;
	font-size: 14px;
	color: #666	;
}
.re-r:hover {
	color: #22b0ff;
}
.products {
	margin-top: 30px;
}
.pro-hd {
	height: 60px;
	line-height: 60px;
}
.pro-hd h4 {
	font-weight: normal;
	font-size: 18px;
	float: left;
}
.pro-hd a {
	float: right;
	margin-right: 30px;
	color: #a5a5a5;
}
.pro-hd a:hover {
	color: #22b0ff;
}
.pro-bd li {
	width: 228px;
	height: 270px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	overflow: hidden;
	background-color: #fff;
	transition: all 0.3s;
}
.pro-bd li:hover {
	box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
	transform: translateY(-10px);
}
.pro-bd li:nth-child(5n) {
	margin-right: 0;
}
.pic {
	transition: all 0.3s;
}
.pro-bd li:hover .pic {
	margin-left: -5px;
}
.pro-title {
	width: 185px;
	margin: 20px auto;
	font-size: 14px;
}
.pro-bd p {
	margin: 20px auto;
	width: 185px;
	color: #999999;
}
.pro-bd p span {
	color: #ff7c2d;
}
footer {
	background-color: #fff;
	margin-top: 30px;
	padding-top: 30px;
}
.footer-l {
	margin-left: 20px;
	float: left;
}
.footer-l p {
	margin:25px 0 15px 0;
	line-height: 24px;
}
.footer-l a {
	width: 120px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	display: block;
	border: 1px solid #22b0ff;
	color: #22b0ff;
	font-size: 16px;
}
.footer-r {
	float: right;
	margin-right: 30px;
}
.footer-r dl {
	float: left;
	margin-left: 130px;
}
.footer-r dt {
	font-size: 14px;
	color: #333;
	height: 30px;
}
.footer-r dd {
	height: 20px;
}
.footer-r dd a:hover {
	color: #22b0ff;
}